@model QuestionModel
<main class="main" id="main">
    <div class="pagetitle">
        <h1>Question Add</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item">Question</li>
                <li class="breadcrumb-item active">Add/Edit</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Vertical Form -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Question Add</h5>
            <form class="row g-3" asp-controller="Question" asp-action="Save" method="post">
                <input asp-for="QuestionID" type="hidden" />
                <div class="col-12">
                    <label for="inputQuestion" class="form-label"><span style="color:red">*</span>Question</label>
                    <input type="textarea" class="form-control" id="inputQuestion" asp-for="QuestionText" placeholder="Enter Question Text">
                    <span asp-validation-for="QuestionText" style="color:red"></span>
                </div>
                <div class="col-12">
                    <label for="inputQuestionLevel" class="form-label"><span style="color:red">*</span>Question Level</label>
                    @*<select class="form-control" asp-for="QuestionLevel">
                        <option value="">Select Question Level</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>*@
                    <select class="form-control" asp-for="QuestionLevelID" asp-items="@(new SelectList(ViewBag.questionlevelList, "QuestionLevelID", "QuestionLevel"))">
                        <option value="">Select QuestionLevel</option>
                    </select>
                    <span asp-validation-for="QuestionLevelID" style="color:red"></span>
                </div>
                <div class="col-6">
                    <label for="inputOptionA" class="form-label"><span style="color:red">*</span>OptionA</label>
                    <input type="text" class="form-control" id="inputOptionA" asp-for="OptionA" placeholder="Enter OptionA">
                    <span asp-validation-for="OptionA" style="color:red"></span>
                </div>
                <div class="col-6">
                    <label for="inputOptionB" class="form-label"><span style="color:red">*</span>OptionB</label>
                    <input type="text" class="form-control" id="inputOptionB" asp-for="OptionB" placeholder="Enter OptionB">
                    <span asp-validation-for="OptionB" style="color:red"></span>
                </div>
                <div class="col-6">
                    <label for="inputOptionC" class="form-label"><span style="color:red">*</span>OptionC</label>
                    <input type="text" class="form-control" id="inputOptionC" asp-for="OptionC" placeholder="Enter OptionC">
                    <span asp-validation-for="OptionC" style="color:red"></span>
                </div>
                <div class="col-6">
                    <label for="inputOptionD" class="form-label"><span style="color:red">*</span>OptionD</label>
                    <input type="text" class="form-control" id="inputOptionD" asp-for="OptionD" placeholder="Enter OptionD">
                    <span asp-validation-for="OptionD" style="color:red"></span>
                </div>
                <div class="col-12">
                    <label for="inputCorrectOption" class="form-label"><span style="color:red">*</span>Correct Option</label>
                    <select class="form-control" id="inputCorrectOption" asp-for="CorrectOption">
                        <option selected disabled>Select Correct Option</option>
                        <option value="1">OptionA</option>
                        <option value="2">OptionB</option>
                        <option value="3">OptionC</option>
                        <option value="4">OptionD</option>
                    </select>
                    <span asp-validation-for="CorrectOption" style="color:red"></span>
                </div>
                <div class="col-12">
                    <label for="inputQuestionMarks" class="form-label"><span style="color:red">*</span>Question Marks</label>
                    <input type="text" class="form-control" id="inputQuestionMarks" asp-for="QuestionMarks" placeholder="Enter Question Marks">
                    <span asp-validation-for="QuestionMarks" style="color:red"></span>
                </div>
                <div class="col-12">
                    <label for="inputUserName" class="form-label"><span style="color:red">*</span>User Name</label>
                    <select class="form-control" asp-for="UserID" asp-items="@(new SelectList(ViewBag.UserList, "UserID", "UserName"))">
                        <option value="">Select User</option>
                    </select>
                    <span asp-validation-for="UserID" style="color:red"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger"><a asp-controller="Question" asp-action="QuestionList" style="color:white;">Cancel</a></button>
                </div>

            </form><!-- Vertical Form -->
        </div>
    </div>
</main>
